// Place all the styles related to the DynamicObjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


label.required:after {
  content: " *"
}

.object-container {
  a, a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: inherit;
  }

  .panel:hover {
    background-color: #f5f5f5;
    transition: background-color 0.5s ease;
  }
}
