.col-md-1

.col-md-5
  #map[style="height: 90%;"]
    = render 'search_map'

.col-md-5
  .panel.panel-default
    .panel-heading
      | Object Type
    .panel-body
      = select_tag :dynamic_object_type_id, options_from_collection_for_select(DynamicObjectType.all, :id, :name, @dynamic_object_type_id), class: 'type-select form-control'
  = render 'form'
  
javascript:
  $('.type-select').change(function(event) {
    $.ajax({
      type: 'GET',
      url: '/dynamic_objects/new',
      data: {
        dynamic_object_type_id: event.target.value
      },
      dataType: 'script'
    })
  })
  
  $(document).ready(function() {
    $("#object-form").trigger('show');
  })
